.idea
.vs
.vscode/compile_commands.json
src/editor/user.ini
src/editor/erhe_init_graph.dot
src/explorer/erhe_init_graph.dot
src/explorer/NodeEditor.json
src/explorer/cache/bvh/*
!src/explorer/cache/bvh/keep
src/editor/cache/bvh/*
src/editor/windows/IconsMaterialDesignIcons.h
src/editor/res/fonts/materialdesignicons-webfont.ttf
src/editor/res/fonts/materialdesignicons.css
src/explorer/res/fonts/materialdesignicons-webfont.ttf
src/explorer/res/fonts/materialdesignicons.css
src/explorer/windows/IconsMaterialDesignIcons.h
!src/editor/cache/bvh/keep
build
cmake-build-debug
vscode-cmake-build
log.txt
releases
erhe_cmake_dependencies.dot*
erhe_cmake_profiling.json
